@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'KMR Apparat';
  src: url('/fonts/KMRApparat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KMR Apparat';
  src: url('/fonts/KMRApparat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-mono: 'KMR Apparat', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sibvi-cyan-800);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-sibvi-cyan-50: var(--sibvi-cyan-50);
  --color-sibvi-cyan-100: var(--sibvi-cyan-100);
  --color-sibvi-cyan-200: var(--sibvi-cyan-200);
  --color-sibvi-cyan-300: var(--sibvi-cyan-300);
  --color-sibvi-cyan-400: var(--sibvi-cyan-400);
  --color-sibvi-cyan-500: var(--sibvi-cyan-500);
  --color-sibvi-cyan-600: var(--sibvi-cyan-600);
  --color-sibvi-cyan-700: var(--sibvi-cyan-700);
  --color-sibvi-cyan-800: var(--sibvi-cyan-800);
  --color-sibvi-cyan-900: var(--sibvi-cyan-900);
  --color-sibvi-purple-50: var(--sibvi-purple--50);
  --color-sibvi-purple-100: var(--sibvi-purple--100);
  --color-sibvi-purple-200: var(--sibvi-purple--200);
  --color-sibvi-purple-300: var(--sibvi-purple--300);
  --color-sibvi-purple-400: var(--sibvi-purple--400);
  --color-sibvi-purple-500: var(--sibvi-purple--500);
  --color-sibvi-purple-600: var(--sibvi-purple--600);
  --color-sibvi-purple-700: var(--sibvi-purple--700);
  --color-sibvi-purple-800: var(--sibvi-purple--800);
  --color-sibvi-purple-900: var(--sibvi-purple--900);
  --color-sibvi-red-50: var(--sibvi-red--50);
  --color-sibvi-red-100: var(--sibvi-red--100);
  --color-sibvi-red-200: var(--sibvi-red--200);
  --color-sibvi-red-300: var(--sibvi-red--300);
  --color-sibvi-red-400: var(--sibvi-red--400);
  --color-sibvi-red-500: var(--sibvi-red--500);
  --color-sibvi-red-600: var(--sibvi-red--600);
  --color-sibvi-red-700: var(--sibvi-red--700);
  --color-sibvi-red-800: var(--sibvi-red--800);
  --color-sibvi-red-900: var(--sibvi-red--900);
  --color-sibvi-green-50: var(--sibvi-green--50);
  --color-sibvi-green-100: var(--sibvi-green--100);
  --color-sibvi-green-200: var(--sibvi-green--200);
  --color-sibvi-green-300: var(--sibvi-green--300);
  --color-sibvi-green-400: var(--sibvi-green--400);
  --color-sibvi-green-500: var(--sibvi-green--500);
  --color-sibvi-green-600: var(--sibvi-green--600);
  --color-sibvi-green-700: var(--sibvi-green--700);
  --color-sibvi-green-800: var(--sibvi-green--800);
  --color-sibvi-green-900: var(--sibvi-green--900);
  --color-sibvi-yellow-50: var(--sibvi-yellow--50);
  --color-sibvi-yellow-100: var(--sibvi-yellow--100);
  --color-sibvi-yellow-200: var(--sibvi-yellow--200);
  --color-sibvi-yellow-300: var(--sibvi-yellow--300);
  --color-sibvi-yellow-400: var(--sibvi-yellow--400);
  --color-sibvi-yellow-500: var(--sibvi-yellow--500);
  --color-sibvi-yellow-600: var(--sibvi-yellow--600);
  --color-sibvi-yellow-700: var(--sibvi-yellow--700);
  --color-sibvi-yellow-800: var(--sibvi-yellow--800);
  --color-sibvi-yellow-900: var(--sibvi-yellow--900);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.25rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.98 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.96 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: transparent;
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --sibvi-cyan-50: oklch(98.71% 0.006 202.1);
  --sibvi-cyan-100: oklch(96.09% 0.011 201.9);
  --sibvi-cyan-200: oklch(0.918 0.089 203.6);
  --sibvi-cyan-300: oklch(0.874 0.098 202.8);
  --sibvi-cyan-400: oklch(0.816 0.118 203.3);
  --sibvi-cyan-500: oklch(73.93% 0.046 204.2);
  --sibvi-cyan-600: oklch(63.77% 0.04 204.2);
  --sibvi-cyan-700: oklch(0.481 0.062 204.2);
  --sibvi-cyan-800: oklch(0.340 0.026 203.8);
  --sibvi-cyan-900: oklch(25.4% 0.007 203.1);
  --sibvi-purple--50: oklch(0.964 0.021 304.0);
  --sibvi-purple--100: oklch(0.933 0.039 303.4);
  --sibvi-purple--200: oklch(0.760 0.148 301.5);
  --sibvi-purple--300: oklch(0.719 0.174 300.6);
  --sibvi-purple--400: oklch(0.625 0.234 297.8);
  --sibvi-purple--500: oklch(0.518 0.258 292.6);
  --sibvi-purple--600: oklch(0.421 0.231 289.0);
  --sibvi-purple--700: oklch(0.330 0.179 289.7);
  --sibvi-purple--800: oklch(0.238 0.123 292.3);
  --sibvi-purple--900: oklch(0.230 0.049 301.1);
  --sibvi-red--50: oklch(0.969 0.015 22.4);
  --sibvi-red--100: oklch(0.942 0.029 23.0);
  --sibvi-red--200: oklch(0.800 0.114 24.5);
  --sibvi-red--300: oklch(0.769 0.137 25.0);
  --sibvi-red--400: oklch(0.700 0.191 27.2);
  --sibvi-red--500: oklch(0.606 0.194 28.6);
  --sibvi-red--600: oklch(0.539 0.183 28.8);
  --sibvi-red--700: oklch(0.427 0.155 29.5);
  --sibvi-red--800: oklch(0.311 0.107 29.3);
  --sibvi-red--900: oklch(0.232 0.019 24.1);
  --sibvi-green--50: oklch(0.981 0.028 158.7);
  --sibvi-green--100: oklch(0.949 0.080 157.2);
  --sibvi-green--200: oklch(0.909 0.154 154.2);
  --sibvi-green--300: oklch(0.859 0.196 151.7);
  --sibvi-green--400: oklch(0.823 0.216 149.8);
  --sibvi-green--500: oklch(0.748 0.208 148.6);
  --sibvi-green--600: oklch(0.641 0.155 151.1);
  --sibvi-green--700: oklch(0.482 0.107 152.1);
  --sibvi-green--800: oklch(0.365 0.079 152.3);
  --sibvi-green--900: oklch(0.254 0.023 157.2);
  --sibvi-yellow--50: oklch(0.984 0.014 78.3);
  --sibvi-yellow--100: oklch(0.956 0.025 78.9);
  --sibvi-yellow--200: oklch(0.927 0.041 76.7);
  --sibvi-yellow--300: oklch(0.844 0.100 75.5);
  --sibvi-yellow--400: oklch(0.771 0.128 73.6);
  --sibvi-yellow--500: oklch(0.691 0.128 71.8);
  --sibvi-yellow--600: oklch(0.624 0.109 73.2);
  --sibvi-yellow--700: oklch(0.481 0.083 73.3);
  --sibvi-yellow--800: oklch(0.356 0.058 73.8);
  --sibvi-yellow--900: oklch(0.251 0.016 79.5);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.18 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.22 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  

}


